*{
box-sizing:border-box;
}


body{

margin:0;

height:100vh;

display:flex;

align-items:center;

justify-content:center;

background:
linear-gradient(
135deg,
#050505,
#111
);

font-family:
Arial,
sans-serif;

color:white;

}



.app{

width:600px;

height:700px;

background:#0d0d0d;

border:1px solid #333;

border-radius:20px;

padding:20px;

box-shadow:
0 0 30px black;

}



header{

text-align:center;

}



header h1{

color:#00ffff;

font-size:40px;

}



#chat{

height:500px;

overflow-y:auto;

background:#050505;

padding:15px;

border-radius:15px;

}



.message{

margin:12px;

padding:12px;

border-radius:12px;

max-width:80%;

}



.bot{

background:#222;

}



.user{

background:#0066ff;

margin-left:auto;

}



.controls{

display:flex;

gap:10px;

margin-top:15px;

}



input{

flex:1;

padding:15px;

border-radius:10px;

border:none;

font-size:16px;

}



button{

padding:15px;

border:none;

border-radius:10px;

background:#00ffff;

cursor:pointer;

font-weight:bold;

}



button:hover{

background:white;

}
